@model EpitTrack.Models.consocarbur

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<hr />
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Contrat de Leasing </h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="id_consocarbur" />

        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="date_deb_consocarbur" class="control-label"></label>
                    <input asp-for="date_deb_consocarbur" class="form-control" />
                    <span asp-validation-for="date_deb_consocarbur" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    <label asp-for="date_fin_consocarbur" class="control-label"></label>
                    <input asp-for="date_fin_consocarbur" class="form-control" />
                    <span asp-validation-for="date_fin_consocarbur" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="mt_ht_consocarbur" class="control-label"></label>
                    <input asp-for="mt_ht_consocarbur" class="form-control" />
                    <span asp-validation-for="mt_ht_consocarbur" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    <label asp-for=" mt_ttc_consocarbur" class="control-label"></label>
                    <input asp-for=" mt_ttc_consocarbur" class="form-control" />
                    <span asp-validation-for=" mt_ttc_consocarbur" class="text-danger"></span>
                </div>
            </div>
        </div>
              <form asp-action="AnyTrivialString">
            <input type="submit" asp-route-id="@Model.id_consocarbur" value="valider" asp-action="EditConfirmed" class="btn btn-primary" />
            </form>
        </form>
    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
