@model EpitTrack.Models.Classification

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Classification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="lib_to_class" class="control-label"></label>
                <input asp-for="lib_to_class" class="form-control" />
                <span asp-validation-for="lib_to_class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-6">

                    <select asp-for="id_class_op" name="id_class_op" asp-items="@ViewBag.ClassOp">
                        <option>-- select class operation --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-6">

                    <select asp-for="id_sous_class_op" name="id_sous_class_op" asp-items="@ViewBag.SousClassOp">
                        <option>-- select sous class operation --</option>
                    </select>
                  </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#id_class_op').change(function () {
                var selectedClassOpId = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetSousClasses", "Classifications")',
                    type: 'GET',
                    data: { classOpId: selectedClassOpId },
                    success: function (data) {
                        var sousClassSelect = $('#id_sous_class_op');
                        sousClassSelect.empty();
                        $.each(data, function (index, item) {
                            sousClassSelect.append($('<option></option>').val(item.value).text(item.text));
                        });
                    }
                });
            });
        });
    </script>
}
